@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  /* scroll-padding: 2rem; */
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.4;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  /* colors */
  --dark-900: #000;
  --blue: #0000ee;
  --gray-600: #666666;
  --light-green: #a3d6b4;
  --pink: #e42d75;
  --light-pink: #f3b5b7;
  --light-purple: #e5b5f3;
  --beige: #f3dab5;
  --white-200: #f8f8f8;
  --white: #fff;
  --dark-800: #1b1b1b;
  --dark-700: #2f2f2f;
  --gray-200: #c2c2c2;
  --gray-100: #ebebeb;
  --gray-400: #7d7d7d;

  /* font family */
  --primary-ff: "Raleway", sans-serif;

  /* font size 38px, 24px 18px, 16px, 14px */
  --fs-800: 3.875em;
  --fs-700: 2.375rem;
  --fs-600: 2rem;
  --fs-500: 1.5rem;
  --fs-400: 1.25rem;
  --fs-300: 1.125rem;
  --fs-200: 1rem;
  --fs-100: 0.875rem;

  /* font weight */
  --fw-extra-light: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 600;
  --fw-bold-2: 700;
  --fw-extra-bold: 800;
}

/* utilities */
.dark-700 {
  color: var(--dark-700);
}
.dark-800 {
  color: var(--dark-800);
}

.text-center {
  text-align: center;
}

.span-2 {
  grid-column: span 2;
}

.overflow-hidden {
  overflow: hidden;
}

/* General Styles */
body {
  width: 100%;
  height: 100vh;
  font-family: var(--primary-ff);
  position: relative;
}

/* wrapper */
.wrapper {
  width: inherit;
  height: calc(100% - 38rem);
  min-height: 38rem;
  display: grid;
  place-items: start center;
  background: url(images/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* !Header styles */

.primary-header {
  width: 100%;
}

.primary-header > .header-container {
  display: grid;
  place-items: center;
  margin-block-start: 1.5rem;
}

/* logo */

.primary-header img {
  width: 10rem;
}

/* humberger menu */
.primary-header .hamburger-menu {
  cursor: pointer;
  display: none;
}

.primary-header .hamburger-menu i {
  color: var(--dark-800);
  font-size: calc(var(--fs-500) - 0.25rem);
}

/* navigation list */
.primary-header .primary-navigation {
  background-color: var(--white);
  border-radius: 25px;
  position: fixed;
  bottom: 2rem;
  box-shadow: 0 0.15rem 0.25rem var(--gray-100);
  z-index: 999;
}

.primary-header .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  padding: 1.5rem 1.25rem;
}

.primary-header .nav-list a:not(.button) {
  font-weight: var(--fw-medium);
  font-size: var(--fs-300);
  color: var(--dark-700);
  transition: color 150ms ease;
  text-decoration: none;
}

.nav-list .close {
  cursor: pointer;
  color: var(--dark-700);
  font-size: var(--fs-100);
  font-weight: var(--fw-regular);
  display: none;
  transition: 150ms ease;
}

/* !Hero Section */

.hero {
  margin-block-start: 4rem;
}

.hero > .container {
  display: grid;
  place-items: center;
  gap: 2.5rem;
  padding-inline: 2.5rem;
  position: relative;
}

.hero .primary-heading {
  width: 28ch;
  font-size: clamp(var(--fs-600), 4.5vw, var(--fs-800));
  font-weight: var(--fw-bold);
  text-wrap: initial;
  line-height: 1.2;
}

.hero p {
  width: 33ch;
  font-size: clamp(var(--fs-200), 2vw, var(--fs-300));
  font-weight: var(--fw-medium);
  line-height: 1.4;
}

.hero .button {
  font-size: var(--fs-300);
  font-weight: var(--fw-extra-bold);
  padding: 1.4rem 2.875rem;
  transition: box-shadow 150ms ease-out;
}

.hero .hero-gallery {
  width: 100%;
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 1000px;
}

.hero .hero-gallery img {
  border-radius: 20px;
  position: absolute;
  transition: 850ms ease;
}

.hero-gallery .first-image {
  width: 24rem;
  top: 2.5rem;
  left: 14rem;
  z-index: 2;
}

.hero-gallery .first-image.move-left {
  width: 24rem;
  top: 5rem;
  left: -5rem;
}

.hero-gallery .second-image {
  width: 30rem;
  top: 0;
  z-index: 3;
  transform: rotateX(15deg);
}

.hero-gallery .second-image.rotateX-0 {
  transform: rotateX(0);
}
.hero-gallery .second-image.width-reduce {
  width: 24rem;
}
.hero-gallery .second-image.move-down {
  top: 5rem;
}

.hero-gallery .third-image {
  width: 24rem;
  top: 2.5rem;
  right: 14rem;
  z-index: 2;
}

.hero-gallery .third-image.move-right {
  width: 24rem;
  top: 5rem;
  right: -5rem;
}

/* !main: */

main {
  width: 100%;
  background-color: var(--white);
  height: 500vh;
}

/* Ppplied the styles to the direct children of .container that do not have the class .process-work */
main > .container > *:not(.process-work) {
  width: calc(100% - 20rem);
  margin: 0 auto;
}

/* companies */
main .companies {
  display: grid;
  place-items: center;
  gap: 3rem;
  padding-block: 26rem 4rem;
  border-bottom: 1px dashed var(--dark-800);
}

main .companies > h2 {
  font-size: clamp(var(--fs-200), 2vw, var(--fs-300));
  color: var(--dark-800);
  font-weight: var(--fw-medium);
  text-wrap: balance;
  text-align: center;
}

main .companies > .container {
  width: 100%;
  display: grid;
  grid-template-areas:
    "poshn redazure atomChat pludo"
    "vocalini slixta tyroFit servi";
  place-items: center;
  gap: 1.25rem;
}

main .companies .poshn {
  grid-area: poshn;
}
main .companies .redazure {
  grid-area: redazure;
}
main .companies .atomChat {
  grid-area: atomChat;
}
main .companies .pludo {
  grid-area: pludo;
}
main .companies .vocalini {
  grid-area: vocalini;
}
main .companies .slixta {
  grid-area: slixta;
}
main .companies .tyroFit {
  grid-area: tyroFit;
}
main .companies .servi {
  grid-area: servi;
}

main .companies > .container > img {
  width: clamp(6rem, 10vw, 7rem);
  aspect-ratio: 2 / 1;
  object-fit: contain;
  filter: grayscale(100%) opacity(0.8);
}

/* benefits */
main .benefits > .container {
  display: grid;
  place-items: center;
  gap: 5rem;
  padding-block: 4rem 8rem;
}

main .benefits span {
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
  color: var(--gray-200);
  line-height: 1;
}

main .benefits h2 {
  display: grid;
  font-size: clamp(var(--fs-600), 4vw, var(--fs-800));
  font-weight: var(--fw-bold);
  color: var(--dark-800);
  transform: translateY(100px);
  opacity: 0;
  transition: 600ms ease;
}

main .benefits .benefits__content {
  width: 100%;
  display: grid;
  grid-template-areas:
    "first first second"
    "third  fourth fourth";
  gap: 2rem;
}

main .benefits .first-benefit {
  grid-area: first;
}

main .benefits .second-benefit {
  grid-area: second;
}

main .benefits .third-benefit {
  grid-area: third;
}

main .benefits .fourth-benefit {
  grid-area: fourth;
}

main .benefits .card {
  background-color: var(--gray-100);
  border-radius: 1rem;
  padding: 2rem;
  display: grid;
  gap: 1.5rem;
  overflow: hidden;
}

main .benefits .card:first-of-type > img,
main .benefits .card:last-of-type > img {
  width: 16rem;
  justify-self: end;
}

main .benefits .card:nth-last-of-type(2) > img,
main .benefits .card:nth-last-of-type(3) > img {
  width: 12rem;
  justify-self: center;
}

main .benefits .first-benefit,
main .benefits .fourth-benefit {
  background-image: url(./images/asset\ 12.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main .benefits h3 {
  font-size: clamp(var(--fs-500), 1.875vw, var(--fs-600));
  color: var(--dark-800);
  font-weight: var(--fw-bold);
}

main .benefits p {
  font-size: clamp(var(--fs-100), 1.875vw, var(--fs-300));
  color: var(--dark-700);
  font-weight: var(--fw-medium);
  width: 33ch;
}

main .benefits .second-benefit p,
main .benefits .third-benefit p {
  font-size: clamp(var(--fs-100), 1.875vw, var(--fs-200));
  color: var(--dark-700);
  font-weight: var(--fw-medium);
  width: 26ch;
}

/* more benefits */
main .benefits .more-benefits {
  width: 100%;
}

main .more-benefits > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

main .more-benefits > .container > * {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 0.875rem;
  overflow: hidden;
}

main .more-benefits img {
  max-width: 4rem;
}

main .more-benefits p {
  width: 40ch;
}

/* benefits animation */
main .benefits h2.move-btt {
  opacity: 1;
  transform: translateY(0);
}

main .first-benefit img,
main .third-benefit img {
  transform: translateX(1000px);
  opacity: 0;
  transition: 600ms ease;
}

main .second-benefit img,
main .fourth-benefit img {
  transform: translateX(-1000px);
  opacity: 0;
  transition: 600ms ease;
}

main .first-benefit img.move-rtl,
main .third-benefit img.move-rtl {
  transform: translateX(0);
  opacity: 1;
}

main .second-benefit img.move-ltr,
main .fourth-benefit img.move-ltr {
  transform: translateX(0);
  opacity: 1;
}

main .more-benefits img {
  transform: translateY(40px);
  opacity: 0;
  transition: 800ms ease;
}

main .more-benefits img.move-btt {
  transform: translateY(0);
  opacity: 1;
}

/* Process & Work Section */
main .process-work {
  width: 100%;
  background-color: var(--dark-700);
}

main .process-work .container {
  width: calc(100% - 20rem);
  margin: 0 auto;
}

main .process-work .container > * > * {
  width: 100%;
}

main .process-work h2 {
  display: grid;
  color: var(--white);
  font-size: clamp(var(--fs-600), 4vw, var(--fs-800));
  font-weight: var(--fw-bold);
  line-height: 1;
}

main .process-work h2 > span {
  color: var(--gray-200);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  line-height: 1.5;
}

main .process-work p {
  font-size: clamp(var(--fs-100), 1.875vw, var(--fs-300));
  color: var(--white);
  font-weight: var(--fw-medium);
}

main .process-work .button {
  width: fit-content;
  font-size: var(--fs-200);
  font-weight: var(--fw-extra-bold);
  color: var(--dark-900);
  background-color: var(--white);
  border: 1px solid var(--dark-800);
  padding: 1.5rem 3rem;
  transition: 200ms ease;
}

main .process > .container {
  width: 100%;
  padding-block: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  gap: 4rem;
}

/* process first column */
main .process .first-column {
  display: grid;
  gap: 2.5rem;
  align-self: start;
}

/* process second column */
main .process .second-column {
  display: grid;
  gap: 2rem;
}

main .process .second-column > .card {
  border-radius: 15px;
  display: grid;
  gap: 2rem;
  padding: 2rem;
  transform: rotateX(30deg) scale(0.5);
  box-shadow: 0 0.5rem 5rem var(--gray-200);
  transition: 500ms ease;
}

main .process .second-column img {
  width: 3rem;
}

main .process .second-column h3 {
  font-size: clamp(var(--fs-500), 1.875vw, var(--fs-600));
  color: var(--dark-800);
  font-weight: var(--fw-bold);
}

main .process .second-column p {
  font-size: clamp(var(--fs-100), 1.875vw, var(--fs-300));
  color: var(--dark-700);
  font-weight: var(--fw-medium);
  width: 40ch;
}

main .process .first-step {
  background-image: url(images/asset\ 20.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .process .second-step {
  background-image: url(images/asset\ 22.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .process .third-step {
  background-image: url(images/asset\ 24.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* process testimonial */
main .process .testimonial {
  width: 100%;
  padding-block-end: 10rem;
}

main .process .testimonial > .container {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 3rem;
  border: 1px dotted var(--gray-400);
  border-radius: 15px;
  background-image: url(images/asset\ 26.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 8rem;
}

/* company logo */
main .testimonial .company-logo img {
  width: 8rem;
}

/* testimenial content */
main .testimonial .comment-content {
  display: flex;
  position: relative;
}

main .testimonial .comment-content img {
  width: 2rem;
  position: absolute;
  left: 0.5rem;
}

main .testimonial .comment-content p {
  font-size: clamp(var(--fs-400), 3vw, var(--fs-500));
  font-weight: var(--fw-bold);
  text-align: center;
  width: 50ch;
  z-index: 0;
}

/* company prisedent */
main .testimonial .company-president {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  gap: 0.875rem;
}

main .testimonial .company-president img {
  width: 50px;
  border-radius: 50%;
}

main .testimonial .company-president h3 {
  color: var(--white);
  font-weight: var(--fw-bold);
  font-size: clamp(var(--fs-100), 1.5vw, var(--fs-200));
}

main .testimonial .company-president span {
  color: var(--gray-400);
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
  width: 100%;
}

/* works */
main .works .container {
  width: 100%;
  padding-block: 4rem 10rem;
}

main .works .section-heading {
  width: 100%;
  display: grid;
  gap: 2.5rem;
}

main .works .gallery {
  width: 100%;
  display: grid;
  grid-template-areas:
    "grifik grifik  poshn"
    "redazure masbot mindu"
    "vocalini servi servi";
  gap: 2rem;
  margin-block-start: 6rem;
}

main .works .gallery > * {
  width: 100%;
  height: 23rem;
  border-radius: 15px;
  overflow: hidden;
  transform: scale(0.6);
  box-shadow: 0 0.5rem 5rem var(--gray-200);
  transition: 500ms ease;
}

main .works .gallery .grifik {
  grid-area: grifik;
  background-image: url(images/asset\ 30.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .works .gallery .poshn {
  grid-area: poshn;
  background-image: url(images/asset\ 31.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
main .works .gallery .redazure {
  grid-area: redazure;
  background-image: url(images/asset\ 33.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
main .works .gallery .masbot {
  grid-area: masbot;
  background-image: url(images/asset\ 34.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
main .works .gallery .mindu {
  grid-area: mindu;
  background-image: url(images/asset\ 35.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
main .works .gallery .vocalini {
  grid-area: vocalini;
  background-image: url(images/asset\ 36.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
main .works .gallery .servi {
  grid-area: servi;
  background-image: url(images/asset\ 37.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .works .gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Plans Section */

main .plans > .container {
  width: 100%;
  padding-block: 6rem 12rem;
  display: grid;
  align-items: center;
  gap: 3rem;
}

main .plans h2 {
  display: grid;
  color: var(--dark-800);
  font-size: clamp(var(--fs-600), 4vw, var(--fs-800));
  font-weight: var(--fw-bold);
  line-height: 1;
}

main .plans h2 > span {
  color: var(--gray-200);
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  line-height: 1.5;
}

main .plans p {
  font-size: clamp(var(--fs-200), 1.875vw, var(--fs-400));
  color: var(--dark-800);
  font-weight: var(--fw-medium);
  width: 60ch;
  text-wrap: balance;
  text-align: center;
}

main .plans .section-heading {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 2.5rem;
}

main .plans .pricing-cards {
  width: 100%;
  display: grid;
  grid-template-areas: "first-plan second-plan third-plan";
  gap: 1.5rem;
}

main .plans .plan:first-child {
  background-color: var(--gray-100);
  grid-area: first-plan;
}
main .plans .plan:nth-child(2) {
  grid-area: second-plan;
  background-image: url(images/asset\ 38.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .plans .plan:last-child {
  grid-area: third-plan;
  background-color: var(--gray-100);
}

main .plans .plan {
  border-radius: 15px;
}

main .plans .plan > .container {
  display: grid;
  gap: 2.5rem;
  padding: 2rem;
  border-radius: 15px;
}

main .plans .plan h3 {
  font-size: clamp(var(--fs-400), 2vw, var(--fs-500));
  font-weight: var(--fw-bold-2);
  color: var(--dark-800);
  text-wrap: wrap;
  line-height: 1.3;
}

main .plans .plan p {
  width: initial;
  font-size: clamp(var(--fs-100), 1.875vw, var(--fs-200));
  text-wrap: wrap;
  text-align: left;
}

main .plans .plan .plan__heading {
  display: grid;
  gap: 1.25rem;
}

main .plans .plan__price {
  display: grid;
  align-items: start;
  height: 4rem;
}

main .plan .plan__price .price {
  width: fit-content;
  display: flex;
  align-items: end;
  gap: 0.25rem;
  line-height: 1.3;
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  color: var(--dark-800);
}
main .plan .plan__price .currency {
  color: var(--gray-400);
  font-size: var(--fs-200);
  font-weight: var(--fw-medium);
}

main .plans .plan .plan__links {
  display: grid;
  text-align: center;
  gap: 1rem;
}

main .plan .plan__links .button {
  font-size: var(--fs-300);
  font-weight: var(--fw-extra-bold);
  transition: 150ms ease;
}

main .plan .plan__links a[href="#book-call"] {
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  color: var(--dark-800);
}

main .plans .plan .plan__benefits {
  display: grid;
  gap: 1rem;
}

main .plan .plan__benefits h4 {
  font-size: var(--fs-200);
  font-weight: var(--fw-bold);
  color: var(--dark-800);
}

main .plan .plan__benefits ul {
  font-size: var(--fs-200);
  font-weight: var(--fw-medium);
  color: var(--dark-800);
  list-style-position: inside;
  list-style-image: url(images/check-icon.svg);
  padding-left: 0.25rem;
  display: grid;
  gap: 1rem;
}

main .plans .first-plan h3 {
  width: calc(100% - 0.89rem);
}

main .first-plan .plan__benefits ul {
  padding-bottom: 5rem;
}
main .second-plan .plan__benefits ul {
  padding-bottom: 2.5rem;
}

main .plans .plan p:has(span) {
  font-size: var(--fs-300);
  color: var(--dark-800);
  font-weight: var(--fw-medium);
  text-align: center;
}

main .plans .plan p:has(span) span {
  color: var(--pink);
}

/* Process and Work Animation */
main .process-work .section-heading {
  transform: translateY(300px);
  opacity: 0;
  transition: 600ms ease;
}

main .process-work .section-heading.move-btt {
  transform: translateY(0);
  opacity: 1;
}

main .process .second-column > .card.scale-up,
main .works .gallery > .image.scale-up {
  transform: scale(1);
  box-shadow: none;
}

/* buttons */
.button {
  text-decoration: none;
  color: var(--white-200);
  font-weight: var(--fw-bold);
  font-size: var(--fs-100);
  background-color: var(--dark-800);
  padding: 1rem 1.25rem;
  border-radius: 15px;
}

/* Hovring styles */
.primary-header .nav-list a:not(.button):hover {
  color: var(--pink);
}

.button:hover {
  box-shadow: 0.25rem 0.25rem 0 var(--pink);
}

.nav-list .close:hover {
  color: var(--gray-400);
}

/** media queries */
@media (max-width: 83rem) {
  .hero-gallery .first-image {
    width: 20rem;
    top: 2.5rem;
    left: 10rem;
  }

  .hero-gallery .first-image.move-left {
    width: 20rem;
    top: 9rem;
    left: -0.5rem;
  }

  .hero-gallery .second-image {
    width: 28rem;
    top: 0;
    transform: rotateX(15deg);
  }

  .hero-gallery .second-image.rotateX-0 {
    transform: rotateX(0);
  }
  .hero-gallery .second-image.width-reduce {
    width: 20rem;
  }
  .hero-gallery .second-image.move-down {
    top: 9rem;
  }

  .hero-gallery .third-image {
    width: 20rem;
    top: 2.5rem;
    right: 10rem;
  }

  .hero-gallery .third-image.move-right {
    width: 20rem;
    top: 9rem;
    right: -0.5rem;
  }
}

@media (max-width: 78rem) {
  .hero-gallery .first-image.move-left {
    left: -1.5rem;
  }

  .hero-gallery .third-image.move-right {
    right: -1.5rem;
  }

  /* *main */
  /* benefits */
  main .benefits > .container {
    margin-inline: 6rem;
  }

  main .benefits .benefits__content {
    display: grid;
    grid-template-areas:
      "first second"
      "third fourth";
  }

  main .benefits .card:first-of-type > img,
  main .benefits .card:last-of-type > img {
    justify-self: center;
  }

  main .benefits .benefits__content p {
    width: 26ch;
  }

  main .benefits .second-benefit p,
  main .benefits .third-benefit p {
    width: 28ch;
  }

  /* more benefits */
  main .more-benefits > .container {
    gap: 2.5rem;
  }

  main .more-benefits p {
    width: 100%;
  }

  /* process testimonial */
  main .process .testimonial > .container {
    padding-inline: 1rem;
  }
  main .testimonial .comment-content p {
    width: 100%;
  }

  /* plans */
  main .plans .plan > .container {
    padding-inline: 1.5rem;
  }
}

@media (max-width: 75rem) {
  .hero .primary-heading {
    width: fit-content;
  }

  /* *main */
  main > .container > *:not(.process-work) {
    width: calc(100% - 8rem);
  }

  /* Process And Work Section*/
  main .process-work .container {
    width: calc(100% - 8rem);
  }

  /* process second column */
  main .process .second-column p {
    width: 100%;
  }

  main .plans p {
    width: 100%;
  }

  /* buttons */
}

@media (max-width: 69rem) {
  /* *main */
  /* benefits */
  main .benefits > .container {
    margin-inline: 0;
  }
}

@media (max-width: 64rem) {
  .hero-gallery .first-image {
    width: 20rem;
    top: 2.5rem;
    left: 10rem;
    z-index: 2;
  }

  .hero-gallery .first-image.move-left {
    width: 18rem;
    top: 11rem;
    left: 0;
  }

  .hero-gallery .second-image {
    width: 28rem;
    top: 0;
    transform: rotateX(15deg);
  }

  .hero-gallery .second-image.rotateX-0 {
    transform: rotateX(0);
  }
  .hero-gallery .second-image.width-reduce {
    width: 24rem;
  }

  .hero-gallery .third-image {
    width: 20rem;
    top: 2.5rem;
    right: 10rem;
  }

  .hero-gallery .third-image.move-right {
    width: 18rem;
    top: 11rem;
    right: 0;
  }

  /* Process And Work Section*/
  main .process-work .container {
    width: calc(100% - 4rem);
  }

  /* process second column */
  main .process .second-column > .card {
    padding: 1.5rem;
  }

  /* plans */
  main .plans .plan .plan__heading {
    height: 10rem;
    gap: 0.5rem;
  }
}

@media (max-width: 50rem) {
  main .companies > .container {
    width: calc(100% - 4rem);
    grid-template-areas:
      "poshn redazure"
      "atomChat pludo"
      "vocalini slixta"
      "tyroFit servi";
  }

  main .benefits .benefits__content {
    display: grid;
    grid-template-areas:
      "first"
      "second"
      "third"
      "fourth";
  }

  main .benefits .benefits__content p,
  main .more-benefits p {
    width: initial;
    font-size: var(--fs-200);
  }

  main .benefits .second-benefit p,
  main .benefits .third-benefit p {
    width: initial;
  }
  /* more benefits */
  main .more-benefits > .container {
    flex-wrap: wrap;
  }

  /* works */
  main .works .gallery {
    display: grid;
    grid-template-areas:
      "grifik"
      "grifik"
      "poshn"
      "redazure"
      "masbot"
      "mindu"
      "vocalini"
      "servi"
      "servi";
    gap: 1.25rem;
  }

  /* plans */
  main .plans .pricing-cards {
    grid-template-areas:
      "first-plan"
      "second-plan"
      "third-plan";
  }

  main .plans .plan > .container {
    padding-inline: 1rem;
  }

  main .plans .plan h3 {
    font-size: var(--fs-500);
  }

  main .plan .plan__links .button {
    font-size: var(--fs-200);
  }

  main .first-plan .plan__benefits ul {
    padding-bottom: 0;
  }
  main .second-plan .plan__benefits ul {
    padding-bottom: 0;
  }

  main .plans .plan .plan__heading {
    height: initial;
    gap: 1.25rem;
  }

  main .plans .plan .plan__heading p {
    font-size: var(--fs-200);
  }
}

@media (max-width: 45rem) {
  /* header */
  .primary-header {
    width: 100%;
  }
  .primary-header > .header-container {
    width: calc(100% - 4rem);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    margin-block: 1rem;
  }

  .primary-header.opacity-0 {
    opacity: 0;
  }
  .primary-header.fixed-header {
    position: fixed;
    top: 0;
    background-color: #ffffffde;
    backdrop-filter: blur(8px);
    opacity: 1;
    z-index: 999;
    transition: 400ms ease;
  }

  /* humberger menu */
  .primary-header .hamburger-menu {
    display: block;
  }

  /* navigation */
  .primary-header .primary-navigation {
    display: none;
    bottom: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 10rem);
    min-height: 30rem;
    background-color: #ffffff69;
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10rem #42424220;
    opacity: 0;
  }

  .primary-header .primary-navigation.move-down {
    top: 29rem;
    background-color: var(--white-200);
    transition: none;
  }

  .primary-navigation.mobile-menu {
    display: block;
    opacity: 1;
    transition: 350ms ease;
  }

  .primary-navigation .nav-list {
    flex-direction: column;
    gap: 2.5rem;
  }

  .nav-list .close {
    display: block;
  }

  /* !hero: */
  .hero .primary-heading {
    text-wrap: balance;
  }

  .hero p {
    width: fit-content;
    text-wrap: balance;
  }

  .first-image,
  .third-image {
    display: none;
  }

  .hero-gallery .second-image {
    width: 42rem;
  }

  .hero-gallery .second-image.width-reduce {
    width: 35rem;
  }

  .hero-gallery .second-image.move-down {
    top: 7rem;
  }

  /* * main */
  main > .container > *:not(.process-work) {
    width: calc(100% - 4rem);
  }

  /* companies */
  main .companies {
    padding-block-start: 36rem;
  }
}

@media (max-width: 36rem) {
  /* *hero */
  .hero-gallery .second-image.move-down {
    top: 10rem;
  }

  /* *main */
  /* companies */
  main .companies {
    padding-block-start: 28rem;
  }

  /* benefits */
  main .benefits .heading {
    text-align: center;
  }

  main .benefits span {
    font-size: var(--fs-400);
  }
  main .benefits h2 {
    font-size: var(--fs-500);
  }

  /* Process And Work Section*/
  main .process-work .container {
    width: calc(100% - 2rem);
  }

  /* buttons */
  .hero .button {
    font-size: 0.875rem;
    padding: 1.4rem 2rem;
  }
}

@media (max-width: 26rem) {
  /* *hero */
  .hero-gallery .second-image {
    max-width: 18rem;
  }

  .hero-gallery .second-image.width-reduce {
    width: 100%;
  }
  /* *main */
  main .companies > .container {
    width: calc(100% - 2rem);
  }
  /* process testimonial */
  main .testimonial .comment-content p {
    text-wrap: balance;
  }
}
